<mat-tab-group>
  <mat-tab label="Дашборд заказов">
    <mat-tab-group>
    <mat-tab label="Напитки">
      <div><order-dashboard [displayPositions]="positions" [currentOrderPositions]="positionsInOrder"></order-dashboard></div>
    </mat-tab>
    <mat-tab label="Еда">
      <order-dashboard [displayPositions]="positions" [currentOrderPositions]="positionsInOrder"></order-dashboard>
    </mat-tab>
  </mat-tab-group>
  </mat-tab>
  <mat-tab label="Заказ">
      <div><order-table [currentOrderPositions]="positionsInOrder"></order-table></div>
  </mat-tab>
</mat-tab-group>
