<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="currentOrderPositions">
    <!-- positionName Column -->
    <ng-container matColumnDef="positionName">
      <mat-header-cell *matHeaderCellDef> Позиция </mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.positionName}} </mat-cell>
    </ng-container>

    <!-- priceTotal Column -->
    <ng-container matColumnDef="priceTotal">
      <mat-header-cell *matHeaderCellDef> Цена </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.priceTotal}} </mat-cell>
    </ng-container>

    <!-- Count Column -->
    <ng-container matColumnDef="orderAmount">
      <mat-header-cell *matHeaderCellDef> Кол-во в заказе </mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.orderAmount}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
