<div style="padding: 32px">
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Позиция </mat-header-cell>
        <mat-cell *matCellDef="let position"> {{position.name}} </mat-cell>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Цена </mat-header-cell>
        <mat-cell *matCellDef="let position"> {{position.price}} </mat-cell>
      </ng-container>

      <!-- Count Column -->
      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef> Продано </mat-header-cell>
        <mat-cell *matCellDef="let position">

  <input matInput [value]="position.count" [(ngModel)]="position.count">

        </mat-cell>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
        <mat-cell *matCellDef="let position">
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
