<a mat-list-item (click)="onItemSelected(item)"
   [ngClass]="{'active': item.routerLink ? router.isActive(item.routerLink, true): false, 'expanded': expanded}"
   class="menu-list-item">
  <mat-icon class="routeIcon">{{item.icon}}</mat-icon>
  {{item.caption}}
  <span *ngIf="item.children && item.children.length">
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </menu-list-item>
</div>

