<actionspanel [table] = "table"></actionspanel>
<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <div *ngFor="let column of this.tableItem.displayColumns">
      <ng-container [matColumnDef]='column.name'>
        <mat-header-cell *matHeaderCellDef> {{column.header}} </mat-header-cell>
        <mat-cell *matCellDef="let position">
          <span *ngIf="column.isEditable; else valueOnly">
            <input matInput
                   [value]="position[column.name]"
                   [(ngModel)]="position[column.name]"
                   (blur)="valueChange(position)">
          </span>
          <ng-template #valueOnly>{{position[column.name]}}</ng-template>
         </mat-cell>
      </ng-container>
    </div>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="save">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button>
          <mat-icon>save</mat-icon>
        </button>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</div>
