.table-container {
  flex-direction: column;
  min-width: 300px;
}

.mat-form-field {
  font-size: 14px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 0;
  min-width: 180px;
}

mat-icon {
  cursor: pointer;
  float: right;
}
